# ===== Configuration Serveur =====
NODE_ENV=production
PORT=3001

# ===== Base de Données MongoDB =====
MONGODB_URI=mongodb+srv://autodrive_db_admin:8sJtXfonCutDKTdI@autodrive.tsswsxp.mongodb.net/AutoDrive?retryWrites=true&w=majority

# ===== Authentification JWT =====
JWT_SECRET=6b68b33fff8384c20a9fdc014388cc03e81ecaee5908606355a8c8128d891fb1

# ===== CORS Frontend =====
FRONTEND_ORIGIN=https://your-frontend-url.com

# ===== Paiements - Stripe =====
STRIPE_SECRET_KEY=sk_test_51SmRbCP8BbShcOOoGNDVCDrMYxzA9Bg3KEA1dmSHgwCYVbC6cPveTEYEsYwHYtbXsWQa3vnWGNmG0fSvgaqfuV0f00o1deR6Iv
STRIPE_PUBLIC_KEY=pk_test_51SmRbCP8BbShcOOoDDk29lJ2tTEXuRYbAVY3ENIGHyseuRHc8b0kXccB6vKxZ4dHtk0lsrdh2Wyq3JE7uVSECfNR005mqXDusV

# ===== Paiements - FedaPay =====
FEDAPAY_PUBLIC_KEY=pk_sandbox_7YLd_JCusl_ntIvYO8_O0pmR
FEDAPAY_SECRET_KEY=sk_sandbox_0MUwakgarUhW8tGoUgqYC-aX
FEDAPAY_ENVIRONMENT=sandbox

# ===== Stockage Supabase =====
SUPABASE_URL=https://glsfgtdznvrxwmuwcgno.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdsc2ZndGR6bnZyeHdtdXdjZ25vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjY1NjQ2OCwiZXhwIjoyMDc4MjMyNDY4fQ.lVJ0PPzLmrAlxpHmLZ47D1V9k-uAYYc61MTeMp3vWeg
SUPABASE_BUCKET=avatars
SUPABASE_BUCKET_VEHICLE_IMAGES=vehicle_medias

# ===== Email (Nodemailer) =====
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USER=testneyla@gmail.com
EMAIL_PASSWORD=msjhbowfpsfffmwj
SMTP_FROM=noreply@autodrive.com
